---
type Props = {

}

const {} = Astro.props

---
<section class="min-h-[50vh] grid place-items-end">
  <div class="w-full">
    <h1 class="text-[10vw]">
      CreatiVista
    </h1>
    <h2 class="text-[5vw]">
      Where Innovation Meets Design Excellence 
    </h2>
  </div>
</section>

<style>

</style>