---
import Layout from '../../layouts/Layout.astro';
import Breadcumb from '../../components/astro/breadcumb.astro';
import ShadowCalculator from '../../components/react/shadow-calculator';
---

<Layout title='Shadow | CreatiVista'>
	
	<main class="min-h-screen rounded-3xl bg-white sm:p-xs">
		
		<Breadcumb title="Shadow generator" position='text-center' className='container mx-auto px-xs'/>

		<div class=" lg:container mx-auto rounded-b-lg p-xs">
			<ShadowCalculator client:load/>
		</div>
			
	</main>
</Layout>

<style>

</style>
