---
type Props = {};

const {} = Astro.props;

interface Frontmatter {
  heading: string;
  btnText: string;
  btnLink: string;
  image: string;
  description?: string;
}

const hero = await Astro.glob<Frontmatter>("./content/hero.md");
const { heading, btnText, btnLink, image, description } = hero[0].frontmatter;

---

<section id='hero' class='-mb-3xl h-[80vh] border-special-0 p-4 grid place-items-center bg-primary-light animate-flip-up-2'>

  <div class="lg:container lg:mx-auto">
    <h1 class='text-4xl font-bold font-bangers capitalize text-font-5 text-center text-primary-blue'>
      { heading }
    </h1>
    <div>
      <p class='text-center text-primary-dark/90 text-font--1 animate-name'>
        { description }
      </p>
      <a href={ btnLink } class=''>
        { btnText }
      </a>
    </div>
  </div>
  
</section>
