---
type Props = {

}

const {} = Astro.props

---
<footer class="py-8 px-4 z-10 h-[17rem] sm:rounded-t-3xl text-font--2 w-full flex flex-col text-center bg-primary-dark text-primary-light">
  <h5 class="opacity-70">
    All rights reserved
  </h5>
  <p>
    © {new Date().getFullYear()} 
    <a class="font-black text-primary-yellow" href="https://vakaks.com" target="_blank"> VAKAKS</a>
  </p>
</footer>

<style>

</style>