---
import Logo from '../../components/astro/Logo.astro'
type Props = {

}

const {} = Astro.props

---
<header class="bg-primary-light flex justify-between gap-8 p-8 items-center 2xl:max-w-7xl 2xl:mx-auto text-primary-dark relative">
  <Logo/>
  <nav class="block">
    <ul class="flex gap-x-xs md:justify-end justify-center">
      <li><a class="whitespace-nowrap" href="/">Home</a></li>
      <li class="cursor-pointer">
        <a class="border-primary-dark py-2 px-xs border-special-1 border text-primary-dark font-bold transition-3 bg-primary-yellow hover:bg-primary-dark transition-3  hover:text-primary-yellow" 
          href="https://github.com/joe-watson-sbf/vakaks-creati-vista" target="_blank">
        Github   
      </a></li>
    </ul>
  </nav>
</header>