---
type Props = {

}

const {} = Astro.props

---
<header class="bg-primary-light p-4 flex justify-between items-center text-primary-dark">
  <h1 class="container mx-auto text-primary-dark font-extrabold text-font-2">DESIGN</h1>
  <nav class="container">
    <ul class="flex space-x-4 justify-end">
      <li><a href="#">About us</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</header>

<style>

</style>