---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/astro/home/hero.astro";
import FontSizeSection from "../components/astro/home/font-size-section.astro";
import ShadowSection from "../components/astro/home/shadow.astro";

---

<Layout title='Vakaks | DESIGN'>
	<Hero />
  <main class='min-h-screen relative'>
    <FontSizeSection />
		<ShadowSection />
  </main>
</Layout>
