---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Vakaks | DESIGN">
	<main class="grid place-items-center min-h-screen">
		<div class="flex justify-center flex-col items-center">
			<h1 class="big-title ">VAKAKS DESIGN</h1>
			<h2 class="text-primary-yellow sub-title -mt-8">Welcome to our website</h2>
		</div>
	</main>
</Layout>

<style>

</style>
