---
import Layout from "../layouts/Layout.astro";
import Header from "../components/astro/header.astro";
import Footer from "../components/astro/footer.astro";
import Hero from "../components/astro/home/hero.astro";
import FontSizeSection from "../components/astro/home/font-size-section.astro";
import ShadowSection from "../components/astro/home/shadow.astro";

---

<Layout title='Vakaks | DESIGN'>
  <Header/>
	<Hero />
  <main class='min-h-screen relative animate-fade'>
    <FontSizeSection />
		<ShadowSection />
  </main>
	<Footer/>
</Layout>
