---
import Layout from '../../layouts/Layout.astro';
import Breadcumb from '../../components/astro/breadcumb.astro';
import CalculatorFontSize from '../../components/react/fontsize/calculator-font-size';

---

<Layout title='Font Size | CreatiVista'>
	
	<main class="min-h-screen rounded-3xl bg-white sm:p-xs">
		
		<Breadcumb title="Font size calculator" position='text-center' className='container mx-auto px-xs'/>
		<div class="">
			<div class=" border-b pb-8 sm:mx-8 mx-4 mt-4">
				<p class="font-light text-primary-slate/60 text-font--1">	Add a viewport width to show its corresponding font size values.</p>
				<p class="text-primary-slate/70 font-light text-font--1">Add a scale step to extend your scale up or down.</p>
			</div>
		</div>

		<CalculatorFontSize	client:load/>
		
	</main>
</Layout>

<style>

</style>