---
import Layout from '../../layouts/Layout.astro';
import CalculatorFontSize from '../../components/react/fontsize/calculator-font-size';

---

<Layout title='Font Size | CreatiVista'>
	
	<main class="text-primary-slate 2xl:container 2xl:mx-auto rounded-3xl bg-white sm:mx-8 sm:px-xl px-xs pt-xs pb-2xl">
		
		<h1 class="text-left font-inter text-font-5 font-thin mt-xl">Font size calculator</h1>
		
		<div class="p-xs font-open-sans text-primary-light flex flex-col justify-center bg-primary-slate border-special-1 mb-8">
			<h2 class="font-light text-font-0">
				Add a viewport width to show its corresponding font size values, and
			</h2>
			<h2 class="font-light text-font-0">
				add a scale step to extend the scale up or down.
			</h2>
		</div>

		<CalculatorFontSize	client:load/>
		
	</main>
</Layout>

<style>

</style>